htdocs/node_modules
htdocs/public/hot
htdocs/public/storage
htdocs/storage/*.key
htdocs/vendor
htdocs/package-lock.json
htdocs/composer.lock
htdocs/.idea
htdocs/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
vendor
